<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <head>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    </head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <!-- link CSS -->
    <link rel="stylesheet" href="../public/css/QuanLyLoaiSanPham.css">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    {{!-- data tables --}}
    <link href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet" />
    {{!-- <link href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css" rel="stylesheet" /> --}}

    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    {{!-- <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script> --}}
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3">
                <div class="row" style="background:#9932CC;opacity: 0.7">
                    <a style="margin-left: 100px;font-size: 30px;color: white;">BRCZE5</a>
                </div>
            </div>
            <div class="col-sm-9">
                <a style="font-size: 20px;color: black;float: left;margin-top: 10px;margin-right: 50px;">Quản Lý Sản
                    Phẩm</a>

                <form method="POST" class="form-inline" action="/quanlysanpham" style="margin-top: 5px;float: left;">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class='far fa-eye' style='font-size:24px;color: black;'></i>
                            </span>
                        </div>
                        <input type="text" class="form-control" placeholder="Tìm Kiếm">
                    </div>
                </form>
                <a style="float: left;margin-left: 200px;margin-top: 10px;">Tài Khoản</a>

                <a style="float: left;margin-top: 10px;margin-left: 30px;">Đăng Xuất</a>
            </div>
        </div>
        <div class="row" style="height: 680px;">
            <div class="col-sm-3 border" style="background:#9932CC;opacity: 0.7;">
                <button type="button" class="btn">
                    <i class='far fa-user-circle'></i>
                    <span>
                        <a href="hosoadmin"> Hồ Sơ Admin</a>
                    </span>

                </button>
                <button type="button" class="btn">
                    <i class='fab fa-bity'></i>
                    <span>
                        <a href="quanlynguoidung">Quản Lý Người Dùng</a>
                    </span>
                </button>
                <button type="button" class="btn">
                    <i class='fas fa-book'></i>
                    <span>
                        <a href="quanlysanpham">Quản Lý Sản Phẩm</a>
                    </span>
                </button>
                <button type="button" class="btn">
                    <i class="fa fa-file-text-o"></i>
                    <a style="color: white;">Quản Lý Hóa Đơn</a>
                </button>
                <button type="button" class="btn">
                    <i class='fas fa-atom'></i>
                    <span>
                        <a href="quanlyloaisanpham">Phân Loại Sản Phẩm</a>
                    </span>
                </button>
                <button type="button" class="btn">
                    <i class='fas fa-map-marker-alt'></i>
                    <a style="color: white;">Liên Hệ</a>
                </button>
                <button type="button" class="btn">
                    <i class="material-icons">notifications_none</i>
                    <a style="color: white;">NOTIFICATIONS</a>
                </button>
                <button type="button" class="btn" style="margin-top: 50px;height: 50px;width: 300px;">
                    <i class="material-icons" style="font-size:26px;color: white;">cloud</i>
                    <a style="color: white;">UPGRADETO PRO</a>
                </button>
            </div>
            <div class="col-sm-9 border">
                <table id="example" class="display" style="width:100%">
                    <thead>
                        <tr>
                            <th>Mã Loại Sản Phẩm</th>
                            <th>Image</th>
                            <th>Tên Loaị Sản Phẩm</th>
                            <th>Điều Hướng</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{# each Loasanphamlist}}
                        <tr>
                            <td>
                                <p class="data">{{MaLoaiSP}}</p>
                            </td>
                            <td style="text-align: center;">
                                <image src="http://localhost:3000/{{image}}" style="height=50px;width: 50px"></image>
                            </td>
                            
                            <td>
                                <p class="data">{{TenLoaiSP}}</p>
                            </td>
                            <td>
                                <a href="/editloaisanpham/{{_id}}" class="btn_edit" href="">Edit</a>
                               <a href="/delete/{{_id}}" class="btnDelete"
                                            onclick="return confirm('Are you sure to delete this song?')">Delete</a>

                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                    <tfoot>
                        <tr>

                            <th>Mã Loại Sản Phẩm</th>
                            <th>Image</th>
                            <th>Tên Loaị Sản Phẩm</th>
                            <th>Điều Hướng</th>
                        </tr>
                    </tfoot>
                </table>
                <!-- Button to Open the Modal -->
                <button type="button" class="kc_fab_main_btn" data-toggle="modal" data-target="#myModal">+</button>



                <!-- The Modal -->

                <div style="margin-left: 200px;" class="modal" id="myModal">
                    <div class="modal-dialog">
                        <div class="modal-content">

                            <!-- Modal Header -->
                            <div class="modal-header">
                                <h4 class="modal-title">Thêm Loại Sản Phẩm</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>

                            <!-- Modal body -->
                            <form action="/upload" method="POST" enctype="multipart/form-data">
                                <div class="form-group">
                                    <label>Mã Loại Sản Phẩm</label>
                                    <input class="form-control" placeholder="Mã Loại Sản Phẩm" id="MaloaiSP"
                                        name="MaloaiSP">
                                </div>
                                <div class="form-group">
                                    <label>Tên Loại Sản Phẩm:</label>
                                    <input class="form-control" placeholder="Tên Loại Sản Phẩm" id="TenloaiSP"
                                        name="TenloaiSP">
                                </div>
                                <div class="form-group">
                                    <label>Image:</label>
                                    <input type="file" class="form-control-file border" name="image">
                                </div>

                                <button type="submit" class="btn btn-primary">Submit</button>
                            </form>


                            <!-- Modal footer -->


                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
</body>

</html>

<script>
    $(document).ready(function () {
        $('#example').DataTable();
    });
</script>